<h3>
    Redirecting...
</h3>

@code {
    [Inject] protected NavigationManager NavigationManager { get; set; } = null!;

    protected override void OnAfterRender(bool firstRender)
    {
        var returnUrl = Uri.EscapeDataString("/" + NavigationManager.ToBaseRelativePath(NavigationManager.Uri));
        NavigationManager.NavigateTo($"/account/login?returnUrl={returnUrl}", true);
    }

}